[Telegram]
TELE_BOT_ID: {Your Telegram Bot ID here}

[BotAdministration]
ADMIN_GROUP_CHAT_ID: {ID of Telegram Group to Send and Receive Admin Messages}

[Imgur]
CLIENT_ID: {Imgur Client ID goes here}
CLIENT_SECRET: {Imgur Client Secret goes here}

[Mashape]
API_KEY: {Your Mashape application key goes here}